.flags-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  gap: 30px;
}

.flag-card {
  background: hsl(209, 23%, 22%);
  list-style: none;
  transition: 700ms;
  overflow: hidden;
}

.flag-card:hover {
  transform: rotate(15deg);
}

.flag-img-container {
  height: 180px;
}

.flag-img-container img {
  height: 100%;
  width: 100%;
}

.flag-content {
  padding: 25px;
}

a {
  color: inherit;
  text-decoration: none;
}

.flag-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  gap: 20px;
}

.flag-box {
  line-height: 25px;
  border: none;
  border-radius: 4px;
}

.flag-box:hover {
  animation: disco 700ms infinite;
  width: 40vw;
  text-align: center;

  transform: scale(1.1);
}

.flag-page button {
  background-color: hsl(209, 23%, 22%);
  color: #fff;
  border: none;
  margin: 20px auto;
  padding: 6px 20px;
  border-radius: 2px;
  cursor: pointer;
}

.flag-page button:hover {
  animation: disco 700ms infinite;
}

@keyframes disco {
  0% {
    box-shadow: 0px 0px 50px lime;
  }
  33% {
    box-shadow: 0px 0px 50px blue;
  }
  66% {
    box-shadow: 0px 0px 50px red;
  }
  100% {
    box-shadow: 0px 0px 50px lime;
  }
}

@media only screen and (max-width: 675px) {
  .flags-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .flag-box:hover {
    animation: none;
    width: 100vw;
    text-align: unset;

    transform: unset;
  }
  .flag-page button {
    font-size: 20px;
    padding: 20px 40px;
    width: 360px;
  }

  .flag-page button:hover {
    animation: unset;
  }
}

@media only screen and (max-width: 375px) {
  .flags-container {
    display: flex;
    flex-direction: column;
    grid-template-columns: none;

    overflow-y: scroll;
  }

  .flag-box:hover {
    animation: none;
    width: 100vw;
    text-align: start;

    transform: none;
  }

  .flag-page button {
    font-size: 20px;
    padding: 20px 40px;
    width: 360px;
  }

  .flag-page button:hover {
    animation: none;
  }
}
